body{
	font-family: 'Open Sans', sans-serif;
	padding-top:68px;
}

.container-fluid{border:0px; margin-bottom:10px;}
.container{border:0px; margin-bottom:10px;}

.banner{
	height:95vh;
	color:#fff;
	text-align:center;
	background-image:url("/images/hotel.jpg");
	background-size:cover;
	font-weight:bold;
	background-attachment: fixed;
    /* background-position: 0px -200px;     */
	background-position:center;
    background-repeat: no-repeat;
}

.overlay{
	/* background: linear-gradient(to bottom, #f953c6 0%, #b91d73 100%); */
	/* background: rgba(185,29,115,0.6); */
	background: rgba(0,0,0,0.4);
	height:100%;
	width:100%;
 }
 
 .parent {
  position: relative;
}
.child {
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  background-color: rgba(0,0,0,0.4);
	  border-radius: 0px 40px 0px 40px;
  }

 .child p{
 	font-size: 20px;
 }

 .caption-banner{padding:40px 20px 40px 20px;}
 .child-banner {
	  position: absolute;
	  top: 50%;
	  left: 10%;
	  transform: translate(-10%, -50%);
  }
	


.navbar{
	-webkit-box-shadow: 0px 9px 26px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 9px 26px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 9px 26px 1px rgba(0,0,0,0.75);
}


.vid-rw{
	text-align:center;
	padding-bottom:60px;
	
}

iframe{
	-webkit-box-shadow: 0px 9px 26px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 9px 26px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 9px 26px 1px rgba(0,0,0,0.75);
	border-radius:25px;
}



@media screen and (max-width: 800px) {

	.about-us{text-align: justify;}

	.banner{height:80vh; background-position:center;}
	
	.child-banner{
		width: 80%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		}

	.child p{
		font-size: 16px;
	}
	
	p{font-size:16px;}

	}


@media screen and (min-width: 1000px) {
		.about-us{
			padding: 0 15% 0 15%;
			text-align: justify;
		}
	}

.navbar a{
    -webkit-transition: font-size 0.5s; /* Safari */
    transition: font-size 0.5s;
	}
.navbar a:hover{
}

.mid-cnt{
	text-align:center;
}

.divider{background-color:#fff; color:#911A48; padding:20px; margin-bottom:10px; border-radius: 0px 40px 0px 40px;}
