body{
	padding-top: 70px;
	font-family: 'Inter', sans-serif;
}

p {
	font-family: 'Inter', sans-serif !important;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Inter', sans-serif !important;
}


.cust-container{
/*	margin-left: 20px;
	margin-right: 20px;*/
	line-height: 30px;
	margin-bottom: 110px;
}

.navbar{
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.navbar-brand{
	font-family: 'Dancing Script', cursive !important;
	font-size: 30px;
}

.navbar-toggler{
/*    background-color: #d22668;*/
	background-color: transparent;
    border:none;
    color: #000;
}
.navbar-toggler-icon{
	background-color:transparent;
	font-weight: bold;
}

.nav-item a{
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    font-size: 18px;
    font-family: 'Cairo', sans-serif;

}
.nav-item a:hover{
	font-size: 20px;
	font-weight: bold;
}


.hero-image { 
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0,0, 0)),url("../images/building/external/compound/compound_005.jpg"); 
	min-height: 65vh; 
	background-position: center right; 
	background-repeat: no-repeat;
	background-size: cover; 
	-webkit-background-size:cover;
	-moz-background-size:cover; 
	-o-background-size:cover; 
	position: relative;
/*	margin-bottom: 40px; */
}

.hero-text {
	position: absolute;
	top:  110%;
	left: 25%;
	width: 80%;
	transform: translate(-25%, -90%);
}

.hero-text{
	margin-bottom: 10px;
	background-color: rgba(0,0,0,0);
}

.card{
	margin-bottom: 20px;
}

.card-body{
}

/* LANDING PAGE BOX START*/
    .landing-box{
        border-radius: 15px;
        background-color: transparent;
		box-shadow: 1px 12px 5px 0px rgba(243,243,243,0.75);
		-webkit-box-shadow: 1px 12px 5px 0px rgba(243,243,243,0.75);
		-moz-box-shadow: 1px 12px 5px 0px rgba(243,243,243,0.75);
    }
    /* Style the tab */
    .tab {
      	overflow: hidden;
      	border: 0px solid red;
     	background-color: transparent;
    }

    /* Style the buttons inside the tab */
    .tab button {
      background-color: #fff;
      color:#000;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;
      font-size: 17px;
      /*border: 1px solid #ccc;*/
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
      background-color: #ddd;
    }

    /* Create an active/current tablink class */
    .tab button.active {
      background-color: #CD24BA;
      color: #fff;
    }

    /* Style the tab content */
    .tabcontent {
      display: none;
      padding: 6px 12px;
      background-color:#fff; 
      border: none;
      width: 100%;
      padding: 50px;
	  height: 270px;
    }

    .first-content{
        display: block;
    }

/* LANDING PAGE BOX END*/
.image-room{
	background: url(/images/room_pic_001.jpg); 
	width: 100%;
	height: 300px;
	background-repeat: no-repeat;
	background-position: center center; 
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	margin-bottom: 10px;
  	border-radius: 0px;
}

.image-dine{
	background: url(/images/thumbnail_res.jpg);
	height: 300px;
	background-repeat: no-repeat;
	background-position: center; 
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	margin-bottom: 10px;
  	border-radius: 0px;

}

.image-hall{
	background: url(/images/IMG-20190218-WA0018.jpg); 
	height: 300px;
	background-repeat: no-repeat;
	background-position: center; 
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	margin-bottom: 10px;
  	border-radius: 0px;
}


.image-shop{
	background: url(/images/shopping.jpg); 
	height: 300px;
	background-repeat: no-repeat;
	background-position: center; 
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	margin-bottom: 10px;
  	border-radius: 0px;
}

.about{
  background-image:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0,0, 0)),url("../images/hotel.jpg");
  min-height: 45vh;
  background-attachment: fixed;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  position: relative;
}

.gallery-thumb{
  background-image:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0,0, 0)),url("../images/IMG-20190219-WA0030.jpg");
  min-height: 45vh;
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  position: relative;
  margin-bottom: 40px;
}

.col-sm-4{
	margin-bottom: 10px;
}
/* Gallery Start */

.gallery-main img{
	max-width:100%;
	max-height:100%;
}

/* FILTER */

.gallery{
	margin: 10px 10px 20px 10px;
}

.gallery-title{
    font-size: 36px;
    color: #000;
    text-align: center;
    font-weight: 500;
}

.gallery_product{margin-bottom: 20px;}

/* Gallery End */

.child {
	  position: absolute;
	  top: 50%;
	  /*transform: translate(-50%);*/
  }

 .child-banner {
	  position: absolute;
	  top: 100%;
	  left: 0%;
	  transform: translate(-0%, -100%);
  }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.gallery {
  background: #fff;
}

.gallery-cell {
  width: 30%;
  height: 500px;
  margin-right: 10px;
  background: transparent;
  counter-increment: gallery-cell;
}


.services .card{
	border:none;
}

.card-title{
	font-weight: bold;
}

.card-img{
	border-radius: 15px;
}

button{
	outline: none !important;
}
.accordion {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 16px;
	font-weight: bold;
	transition: 0.4s;
	border-color: transparent;
  }
  
  .accordion >.active, .accordion:hover {
	background-color: #CD24BA;
	color: #fff;
	border: 0px;
	border-color: transparent;
  }
  
  .panel {
	height: 0;
	opacity: 0;
	padding: 0 10px;
	background-color: white;
	overflow: hidden;
	transition: height 1s ease-out, opacity 2s ease-out;
  }

.food-category{
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	color: #fff;
	background-color: #D22668;
}

@media screen and (max-width: 1000px){

		body{
			font-size: 14px;
		}

		p{
			font-size: 14px;
		}

		.about{
			background-attachment: scroll;
			background-position: center top;
		}

		.hero-image { 
			min-height: 100vh;
			background-attachment:scroll; 
			background-position: top right; 
		}
		
		#discover{
			height:13vh;
		}

		.gallery-thumb { 
		background-attachment:scroll; 
		background-position: top right; 
		}
		.cust-container{
		line-height: 25px;
		}

		.gallery-cell {
		  width: 90%;
		  height: 500px;
		  margin-right: 10px;
		  background: transparent;
		  counter-increment: gallery-cell;
		}

		.tabcontent{
			height: 350px;
		}

}


@media screen and (min-width: 1000px) {
	}
