body{
	padding-top:70px;
	font-family: 'Work Sans', sans-serif;
	font-size: 20px;
  	font-weight: 400;
  	color: #7f7f7f;
  	background: #fff;
  	height: 100%;
  	position: relative;
}

h1, h2, h3, h4, h5, h6 {
 /*font-family: 'Crimson Text', serif;*/
 font-family: 'Work Sans', sans-serif;
 font-weight:bold;
 text-transform: uppercase;
}

.btn{background-color:#fff; color:#000; border-color: transparent; font-size: 20px;}

.banner{
	height:70vh;
	color:#fff;
	text-align:center;
	background-image:url("/images/hotel.jpg");
	background-size:cover;
	font-weight:bold;
	background-attachment: fixed;
    /* background-position: 0px -200px;     */
	background-position:center;
    background-repeat: no-repeat;
}

.overlay{
	/* background: linear-gradient(to bottom, #f953c6 0%, #b91d73 100%); */
	/* background: rgba(185,29,115,0.6); */
	background: rgba(0,0,0,0.4);
	height:100%;
	width:100%;
 }
 
 .parent {
  position: relative;
}
.child {
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  text-align: center;
  }

 /*.caption-banner{padding:40px 20px 40px 20px;}*/
 .child-banner {
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
  }
	

.divider{background-color:transparent; color:#fff; padding:40px; margin-bottom:10px;}
.divider hr {border-color: #fff;}


.vid-rw{
	text-align:center;
}

iframe{
	-webkit-box-shadow: 0px 9px 26px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 9px 26px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 9px 26px 1px rgba(0,0,0,0.75);
}



@media screen and (max-width: 800px){

	.divider .sub-heading{display:none;}
	.child-banner .btn{
		font-size: 12px;
	}

	.divider{
		padding:0px;
	}

	.divider h2{
		font-size: 16px;
	}

	.about-us{text-align: justify;}

	.banner{height:60vh; background-position:center;}
	
	.child-banner{
		width: 80%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		}

	.child-banner h1{
		font-size: 1.5em;
	}

	.child-banner h5{
		font-size: 0.8em;
	}
	iframe{width:100%; height:200px;}

	}


@media screen and (min-width: 1000px) {
		.about-us{
			padding: 0 8% 0 8%;
			text-align: justify;
		}
	}


.mid-cnt{
	text-align:center;
}

.gallery-main img{
	max-width:100%;
max-height:100%;
}

/* FILTER */

.gallery-title
{
    font-size: 36px;
    color: #000;
    text-align: center;
    font-weight: 500;
    margin-bottom: 10px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 10px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #42B32F;

}
.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}
