<style>	
	.footer a{color:#fff;}
	.footer{background-color:#911A48;color:#fff; font-size: 14px;}
	.footer{padding:20px;}
	.footer h4 {color:#fff;}
	.footer-item{margin-top: 10px; margin-bottom: 10px;}
	.nav-link{padding: 5px !important;}
</style>

<div class="footer">
<div class="container">
	<div class="row">
	<div class="footer-item col-md-3 col-sm-12">
	<h4> FAWZY HOTEL </h4> 
		<p>Telephone: +234 8105 4799 34 <br>
		Telephone: +234 9098 8467 50 <br></p>

		<a target="_blank" href="mailto:info@fawzyhotels.com?subject=Email%20Enquiry">Email us at info@fawzyhotels.com</a>

		</div>

	<div class="footer-item col-md-4 col-sm-12">
		<h4> Location </h4> 
		 <p>FAWZY HOTELS LTD. Block VII, plots 1,2,3. Adewumi layout, off akinyemi way (almost opposite Becan Breast Cancer Center) Ring Road Ibadan.</p>
	</div>

	<div class="footer-item col-md-2 col-sm-12">
	<h4> Social </h4> 
		
		<ul class="navbar-nav ml-auto">
		  
			<li class="nav-item active">
			  <a class="nav-link" href="https://www.facebook.com/Fawzyhotel/" class="">Facebook</a>
			</li>
			
			<li class="nav-item active">
			  <a class="nav-link" href="https://www.instagram.com/fawzyhotels/?hl=en" class="" target="_blank">Instagram</a>
			</li>							
				
		  </ul>
	</div>

	<div class="footer-item col-md-3 col-sm-12">
	<h4> Menu </h4> 
			
		  <ul class="navbar-nav ml-auto">
		  
			<li class="nav-item active">
			  <a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
			</li>
			
			<li class="nav-item active">
			  <a class="nav-link" href="/pages/about_us.html">ABOUT US<span class="sr-only">(current)</span></a>
			</li>							
			
			<li class="nav-item active">
			  <a class="nav-link" href='http://www.booking.com/Share-8m6KYK' target='_blank'><span><strong>BOOK A ROOM
			  </strong></span><span class="sr-only">(current)</span></a>
			</li>	
		  </ul>
			
	</div>
</div>
</div>
</div>