<style>	
	.footer a{color:#fff; font-size: 16px;}
	.footer{background-color:#d22668;color:#fff; font-size: 14px; margin-top: 50vh;}
	.footer{padding:18px;}
	.footer h4 {color:#fff;}
	.footer-item{margin-top: 10px; margin-bottom: 10px;}
	.footer-item .nav-item{
		text-align: left;
	}
	.nav-link{padding: 5px !important;}
	.nav-item{color: #fff !important;}
</style>

<div class="footer">
<div class="container">
	<div class="row">
	<div class="footer-item col-md-3 col-sm-12">
	<h5> FAWZY HOTEL </h5> 
		<p>Telephone: +234 8105 4799 34 <br>
		Telephone: +234 9098 8467 50 <br></p>

		<a target="_blank" href="mailto:info@fawzyhotels.com?subject=Email%20Enquiry">Email us at info@fawzyhotels.com</a>

		</div>

	<div class="footer-item col-md-4 col-sm-12">
	<h5> Location </h5> 
		 <p>FAWZY HOTELS LTD. Block VII, plots 1,2,3. Adewumi layout, off akinyemi way (almost opposite Becan Breast Cancer Center) Ring Road Ibadan.</p>
	</div>

	<div class="footer-item col-md-2 col-sm-12">
	<h5> Social </h5> 
		
		<ul class="navbar-nav ml-auto">
		  
			<li class="active">
			  <a class="nav-link" href="https://www.facebook.com/Fawzyhotel/" class="">Facebook</a>
			</li>
			
			<li class="active">
			  <a class="nav-link" href="https://www.instagram.com/fawzyhotel/?hl=en" class="" target="_blank">Instagram</a>
			</li>							
				
		  </ul>
	</div>

	<div class="footer-item col-md-3 col-sm-12">
	<h5> Menu </h5> 
			
		  <ul class="navbar-nav ml-auto">
		  
			<li class="active">
			  <a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
			</li>
			
			<li class="active">
			  <a class="nav-link" href="/pages/about_us.html">ABOUT US<span class="sr-only">(current)</span></a>
			</li>							
			
			<li class="active">
			  <a class="nav-link" href='https://www.booking.com/hotel/ng/fawzy.html?' target='_blank'><span><strong>BOOK A ROOM
			  </strong></span><span class="sr-only">(current)</span></a>
			</li>	
		  
		  </ul>
			
	</div>
</div>

icons by <a target="_blank" href="https://icons8.com">Icons8</a>

</div>
</div>
