<style>	
	.footer a{color:#fff;}
	.footer{background-color:#911A48;color:#fff;}
	.footer{padding:20px;}
	.footer h4 {color:#fff;}
</style>

<div class="footer">
<div class="container">
	<div class="row">
	<div class="col-md-12 col-sm-12">
	<h4> FAWZY HOTEL </h4> 
		Telephone: +234 8105 4799 34 <br>
		Telephone: +234 9098 8467 50 <br>
		<a target="_blank" href="mailto:info@fawzyhotels.com?subject=Email%20Enquiry">Email us at info@fawzyhotels.com</a>
		<br>
		<br>
			
			<a href="https://www.facebook.com/Fawzyhotel/" class="">Facebook</a> |
			
			<a href="https://www.instagram.com/fawzyhotels/?hl=en" class="" target="_blank">Instagram</a>
		 
		 <br>
		 <br>
		 FAWZY HOTELS LTD. Block VII, plots 1,2,3. Adewumi layout, off akinyemi way (almost opposite Becan Breast Cancer Center) Ring Road Ibadan.
		 <br>
		</div>
</div>
</div>
</div>