<html lang="en">
  <head>

  	 <script>
  	 	/*
		 // Set to the same value as the web property used on the site
		 var gaProperty = 'UA-123717705-1';

		 // Disable tracking if the opt-out cookie exists.
		 var disableStr = 'ga-disable-' + gaProperty;
		 if (document.cookie.indexOf(disableStr + '=true') > -1) {
		     window[disableStr] = true;
		 }

		 // Opt-out function
		 function gaOptout() {
		   document.cookie = disableStr + '=true; expires=Thu, 31 Dec 2099 23:59:59 UTC; path=/';
		   window[disableStr] = true;
		 }*/
		 </script>

	<!-- Global site tag (gtag.js) - Google Analytics-->

	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123717705-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-123717705-1');
	  gtag('config', 'UA-123717705-1', { 'anonymize_ip': true });
	</script>
	

	{% include bootstrap.html %}
</head>
<body>
	 
<style>
.navbar-toggler{
    background-color: transparent;
    border:none;
}
.navbar-toggler-icon{
	background-color:transparent;
}

.nav-item a{
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    font-size: 14px;
}
.nav-item a:hover{
	font-size: 16px; 
}
/*

.custom{
	-webkit-box-shadow: 0px 7px 27px 2px #d22668; 
	box-shadow: 0px 7px 27px 2px #d22668;
}*/
</style>
<body>

<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: rgba(210,38,104,1);">
	<div class="container">
	  <a class="navbar-brand" href="/">FAWZY</a>

	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
		  <ul class="navbar-nav ml-auto">
		  
			<li class="nav-item active">
			  <a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item active">
			  <a class="nav-link" href="/pages/about_us.html">ABOUT US<span class="sr-only">(current)</span></a>
			</li>

			<div class="dropdown-divider"></div>
			<li class="nav-item active">
			  <a class="nav-link" href='http://www.booking.com/Share-8m6KYK' target='_blank'><span><strong>BOOK A ROOM
			  </strong></span><span class="sr-only">(current)</span></a>
			</li>	
		  </ul>
	  </div>
	</div>
</nav>

	 <div class="content">
      {{ content }}
    </div>
	 
	 
	
{% include foot.html %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity=<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	
</body>
  
</html>